[
 {
  "Name": "example-01",
  "Mac": "2c:f0:xx:xx:xx:xx",
  "BroadcastIPAddress": "255.255.255.255:9"
 },
 {
  "Name": "example-02",
  "Mac": "2c:f0:5d:xx:xx:xx",
  "BroadcastIPAddress": "255.255.255.255:9"
 },
 {
  "Name": "example-03",
  "Mac": "2c:xx:xx:xx:xx:xx",
  "BroadcastIPAddress": "255.255.255.255:9"
 }
]